.chatRoomContainer {
    align-items: stretch;
    height: 100%;

    &:hover {
        background-color: rgba(195, 189, 189, 0.979);
    }

    &[is-active="active"] {
        background-color: rgba(195, 189, 189, 0.979);
    }

    .chatRoom {
        padding: 12px;
        color: #ffff;
    }
}